<!DOCTYPE html>
<html ng-app="app">
<head>
	<title>custom service</title>
</head>
<body>
<h1>CUSTOM SERVICE</h1>

<h3>
+ mencegah object untuk selalu mempunya single instance
+ banyak controller diinject dengna service mempunya access yang sama dengan service instance
</h3>

<div ng-controller="controllerName1 as ctrl1">
	<input type="text" ng-model="ctrl1.input1">
	<input type="text" ng-model="ctrl1.input2">

	<button ng-click="ctrl1.eventTambah();">event tambah</button>
	{{ ctrl1.input1 }}

</div>

<div ng-controller="controllerName2 as ctrl2">
<h2>list item</h2>
<ul>
	<li ng-repeat="item in ctrl2.dataArray">
		{{ item.propinput1 }}

		<button ng-click="ctrl2.eventDelete($index);">delete</button>
	</li>
</ul>
</div>



<script type="text/javascript" src="../../angular.min.js"></script>
<script type="text/javascript" src="app.js"></script>
</body>
</html>